[Desktop Entry]
Type=Application
Version=1.0
Name=RoboticsLite
Comment=Arcade Local Multiplayer Game
Path=/opt/roboticslite
Exec=roboticslite
Terminal=false